@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<html class="no-js">
<body>
    @Html.Partial("_SliderHomePage")

    @Html.Partial("_ContainerHomePage")
    
    @Html.Partial("_ServicesHomePage")

    @Html.Partial("_WorkItemsHomePage")

    @Html.Partial("_ClientsCarouselHomePage")
</body>
</html>
@*place holder in razor pentru imagine*@
@*blob value in db*@