
@{
    ViewBag.Title = "About Us";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="about-us" class="container main">
    <div class="row-fluid">
        @Html.Partial("_ParagraphAboutUsPage")
        @Html.Partial("_AccordionAboutUsPage")
    </div>
    <hr>
    <div class="row-fluid">
        @Html.Partial("_ProgressBarAboutUsPage")
        @Html.Partial("_Paragraph2AboutUsPage")
    </div>
</section>
@Html.Partial("_ScriptsAboutUs")