
@{
    ViewBag.Title = "Services";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section class="services">
    <div class="container">
        <div class="row-fluid">
            @Html.Partial("_FacetimeService")
            @Html.Partial("_FoodService")
            @Html.Partial("_GamingService")
        </div>
    </div>
    <hr>
    <div class="row-fluid">
        @Html.Partial("_MagicService")
        @Html.Partial("_PuzzleService")
        @Html.Partial("_ShoppingService")
    </div>
    <hr>
    @Html.Partial("_ButtonServicePage")
</section>
@Html.Partial("_ScriptsServicePage")