
@{
    ViewBag.Title = "Portfolio";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<section id="portfolio" class="container main">
    <ul class="gallery col-4">
        @Html.Partial("_RaspberryPhotoPortfolioPage")
        @Html.Partial("_TulipPhotoPortfolioPage")
        @Html.Partial("_CoastlinePhotoPortfolioPage")
        @Html.Partial("_LadybugsPhotoPortfolioPage")
        @Html.Partial("_SheepsPhotoPortfolioPage")
        @Html.Partial("_LighthousePhotoPortfolioPage")
        @Html.Partial("_RaspberryPhotoPortfolioPage")
        @Html.Partial("_SheepsPhotoPortfolioPage")
        @Html.Partial("_RaspberryPhotoPortfolioPage")
        @Html.Partial("_TulipPhotoPortfolioPage")
        @Html.Partial("_CoastlinePhotoPortfolioPage")
        @Html.Partial("_LadybugsPhotoPortfolioPage")
    </ul>
</section>
@Html.Partial("_ScriptsPortfolioPage")